@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

/*
	UntitledBusiness: A responsive HTML5 website template by HTML5Templates.com
	Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
	Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
*/


/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0em;
		padding: 0em;
		background: #ECECEC url(images/main-bg.jpg) repeat;
		font-family: 'Open Sans', sans-serif;
		font-size: 9.5pt;
		color: #4e4e4e;
	}

        
        .button-holder
        {
            position: relative;
            top: -20px;
        }
        
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }
	
	h1, h2, h3 {
		padding: 0 0 1em 0;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		color: #353535;
	}
	
	h2
	{
		letter-spacing: -1px;
		font-size: 2.00em;
	}
h3
	{
		letter-spacing: -1px;
		font-size: 1.4em;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
	}

	p, ol, ul
	{
		margin-top: 1em;
	}
	
	p
	{
		line-height: 2em;
	}
	
	a
	{
		text-decoration: underline;
		color: #E34040;
	}
	
	a:hover
	{
		text-decoration: none;
	}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Oswald', sans-serif;
}

/* Links inside the navbar */

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
	padding: 12px
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
	text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
  padding: 6.5px 1px;
  background-color: inherit;
   /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #C71E29;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E20001;
  min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a{
  float: none;
  color: white;
  padding: 6.5px 1px;
  text-decoration: none;
  display: block;
  text-align: right;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* List Style 1 */

	ul.style1
	{
	}
	
	ul.style1 li
	{
		padding: 0.75em 0 0.75em 0em;
		background: url(images/bullet-icon.png) no-repeat left 50%;
	}
	
	ul.style1 a
	{
		display: block;
		padding-left: 1.50em;
		text-decoration: none;
		color: #676767;
	}
	
	ul.style1 a:hover
	{
		text-decoration: underline;
	}

/* List Style 2 */

	ul.style2 {
		overflow: hidden;
		margin: 0em;
		padding: 0em;
		list-style: none;
	}
	
	ul.style2 li {
		padding: 1.00em 0em 2.75em 0em;
		border-top: 1px solid #E2E2E2;
	}
	
	ul.style2 a {
		text-decoration: none;
		color: #4e4e4e;
	}
	
	ul.style2 a:hover {
		text-decoration: underline;
	}
	
	
	ul.style2 img {
		float: left;
		margin-right: 0.5em;
		border-radius: 5px;
	}
	
	ul.style2 .first {
		padding-top: 0;
		border-top: none;
	}
	
/* List style 3 */

	ul.style3 {
		margin: 0em;
		padding: 0em 0em 0em 0em;
		list-style: none;
	}
	
	
	ul.style3 li {
		padding: 1.75em 0em 1.50em 0em;
		border-top: 1px solid #E2E2E2;
	}
	
	ul.style3 .heading-title {
		font-size: 1.10em;
		font-weight: bold;
		color: #333333;
	}
	
	ul.style3 .date {
		display: inline-block;
		margin: 0em 1em 1em 0em;
		text-transform: uppercase;
		font-size: .80em;
		background: #C6250A;
		border-radius: 5px;
		border: 1px solid #911B07;
		box-shadow: 0px 1px 5px rgba(0,0,0,.4);
		color: #FFFFFF;
	}
	
	ul.style3 .date a
	{
		display: inline-block;
		padding: .5em 1em;
		letter-spacing: 1px;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.10em;
		font-weight: 400;
		color: #FFFFFF;
		box-shadow: inset 1px 1px 1px #F60;
	}

	ul.style3 a 
	{
		text-decoration: none;
		color: #4e4e4e;
	}
	
	ul.style3 a:hover 
	{
		text-decoration: underline;
	}
	
	ul.style3 .first {
		border-top: none;
	}

/* List style 4 */

	ul.style4 {
		overflow: hidden;
		margin: 0em;
		padding: 0em;
		list-style: none;
	}
	
	ul.style4 li {
		padding: 1.50em 0em 1.50em 0em;
		border-top: 1px solid #E2E2E2;
	}
	
	ul.style4 a {
		text-decoration: none;
		color: #4e4e4e;
	}
	
	ul.style4 a:hover {
		text-decoration: underline;
	}
	
	ul.style4 h3
	{
		padding: 0 0 0.75em 0;
		font-size: 1.10em;
		font-weight: 700;
		color: #333;
	}
	
	
	ul.style4 .first {
		padding-top: 0;
		border-top: none;
	}

/* Button Style 1 */

	.button
	{
		display: inline-block;
		margin-top: 1.50em;
		background: #C6250A;
		border-radius: 5px;
		border: 1px solid #911B07;
		box-shadow: 0px 1px 5px rgba(0,0,0,.4);
		letter-spacing: 1px;
		text-align: center;
		text-decoration: none;
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		font-size: 1.10em;
		font-weight: 400;
		color: #FFFFFF;
	}
	
	.button a
	{
		display: inline-block;
		padding: 0.75em 2.00em;
		border-radius: 5px;
		box-shadow: inset 1px 1px 1px #F60;
		text-decoration: none;
		color: #FFFFFF;
	}
	.button span
	{
		display: inline-block;
		padding: 0.75em 2.00em;
		border-radius: 5px;
		box-shadow: inset 1px 1px 1px #F60;
	}
.slider-holder
        {
            width: 800px;
            height: 400px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
        
        .image-holder
        {
            width: 2400px;
            background-color: red;
            height: 400px;
            clear: both;
            position: relative;
            
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
        
       
/* Header Wrapper */

	#header-wrapper
	{
		overflow: hidden;
		height: 6em;
		margin-bottom: 1em;
		padding-top: 4.85em;
		background: #F62A2A url(images/header-wrapper-bg.jpg) no-repeat;
		box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,.30);
	}

/* Page Wrapper */

	#wrapper
	{
		overflow: hidden;
		padding: 0em 0em 3em 0em;
		background: #FFFFFF;
		box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .05);
	}

/* Page */

	#page
	{
		overflow: hidden;
		padding: 5em 0em 0em 0em;
	}
	
	.homepage #page
	{
		padding: 3em 0em 0em 0em;
	}

/* Content */

	#content
	{
	}

	#content h2
	{
		letter-spacing: -2px;
		font-size: 2.50em;
	}

	#content section
	{
		padding: 0em 3em 0em 2em;
	}

	#content a img
	{
		display: block;
		width: 50%;
		height: 50%;
		margin-bottom: 0.5em;
		border-radius: 5px;
	}

/* Sidebar */

	#sidebar
	{
	}

	#sidebar #box1
	{
	}

	#sidebar #box2
	{
		padding: 3em 2em 0em 0em;
	}

/* Marketing */

	#marketing
	{
		overflow: hidden;
		padding: 2em 0em 0em 0em;
	}

	#marketing h2
	{
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: 1.75em;
		font-weight: 700;
		color: #C6250A;
	}
	
	#marketing .subtitle
	{
		margin: 0 0 1em 0;
		padding: 0 0 1em 0;
		border-bottom: 1px solid #E2E2E2;
		text-transform: uppercase;
		font-size: 1.25em;
		font-weight: 400;
		color: #3D3D3D;
	}

	#marketing .box
	{
		padding: 0 2em;
	}

/* Two Column */

	#two-column
	{
		overflow: hidden;
		margin: 3em 0em 0em 0em;
		padding: 3em 0em 0em 0em;
		border-top: 1px solid #E2E2E2;
	}
	
	#two-column section
	{
		padding: 0em 0em 0em 0em !important;
	}

/* Three Column */

	#three-column
	{
		overflow: hidden;
		margin: 3em 0em 0em 0em;
		padding: 3em 0em 0em 0em;
		border-top: 1px solid #E2E2E2;
	}
	
	#three-column section
	{
		padding: 0em 0em 0em 0em !important;
	}

/* Banner */

	#banner
	{
	}

	#banner a img
	{
		display: block;
		width: 100%;
	}

/* Copyright */

	#copyright
	{
		overflow: hidden;
		padding: 3em 0em 6em 0em;
		background: /*url(images/img02.jpg)*/ repeat-x left top;
		text-shadow: 1px 1px 0px #FFFFFF;
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: #949494;
	}
	
	#copyright a
	{
		color: #949494;
	}
	
	#copyright a:hover
	{
		text-decoration: none;
}
 

// https://jonsuh.com/blog/detect-the-end-of-css-animations-and-transitions-with-javascript/
function whichTransitionEvent(){
  var t,
      el = document.createElement("fakeelement");

  var transitions = {
    "transition"      : "transitionend",
    "OTransition"     : "oTransitionEnd",
    "MozTransition"   : "transitionend",
    "WebkitTransition": "webkitTransitionEnd"
  }

  for (t in transitions){
    if (el.style[t] !== undefined){
      return transitions[t];
    }
  }
}

var transitionEvent = whichTransitionEvent()
caption.addEventListener(transitionEvent, customFunction);

function customFunction(event) {
  caption.removeEventListener(transitionEvent, customFunction);
  console.log('animation ended');

  // Do something when the transition ends
}
